@model IndexModel

@if (Model.ModelState.ErrorCount is > 0)
{

  <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Genre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div asp-validation-summary="All" class="text-danger"></div>
          <fieldset>
            <legend>Add Genre</legend>
            <div class="form-group">
              <label for="genre" class="form-label mt-4">Name</label>
              <input type="text" class="form-control" id="genre" aria-describedby="genre" asp-for="Genre!.Name">
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" id="create-btn" class="btn btn-primary" asp-page-handler="create">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
}

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Genre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          <div asp-validation-summary="All" class="text-danger"></div>
          <fieldset>
            <div class="form-group">
              <label for="genre" class="form-label mt-4">Name</label>
              <input type="text" class="form-control" id="genre" aria-describedby="genre" name="Name">
            </div>
          </fieldset>
          <div class="modal-footer">
            <button type="submit" id="create-btn" class="btn btn-primary" asp-page-handler="create">Create</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>