@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hubtofy</h1>
    <p>Hubtofy is an application to managetation music band.</p>
</div>
