@model IndexModel

<div class="modal fade" id="deleteOccupationModal" tabindex="-1" aria-labelledby="deleteOccupationModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="delete-form">
          <fieldset>
            <div class="form-group">
              <p class="fs-5 fw-bold align-right">Do you really wants to delete this?</p>
            </div>
          </fieldset>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="delete-yes" onclick="deleteOccupation()">Delete</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>
